# JavaScript_exercises/
Python_exercises/
# C_exercises/
C++_exercises/
Rust_exercises/
Java_exercises/
C#_exercises/
SQL_exercises/
# PHP_exercises/
Shell_exercises/
Verilog_exercises/
Assembly_exercises/